/* ----------------------------
        CANVAS ELEMENTS
---------------------------- */
#canvas {
    padding:0;
    margin: auto;
    display: block;
  }

  #room {
    border: solid #f44336;
    border-width: 5px;
    background-color: white;
  }

  p {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #1d1d1d;
  }